.main{
  display: block;
}
.expense{
  display: flex;
  align-content: flex-end;
}

.expenseimg {
  display: flex;
  align-content: flex-end;
  float: right;
  justify-content: right;
}

.getstarted {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calltoaction {
  margin-bottom: 22px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 5px 8px;
  border-radius: 99px;
  background: linear-gradient(black, black);
}
